.app {
  /* flex: 1;
  justify-content: center;
  align-items: center; */
  background-color: #efeff4;
  width: 750;
  height: 1200;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.header {
  height: 90;
  background-color: #f8f8f8;
  width: 900;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.choose_label {
  width: 250;
}

.down_triangle {
  width: 40;
  height: 40;
  margin-left: 10;
  position: absolute;
  left: 170;
  top: 5;
}

.up_triangle {
  width: 70;
  height: 70;
  margin: -20 90 -28 90;
}

.dropdown_container {
  position: absolute;
  top: 70;
  width: 250;
  left: 250;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.dropdown_list {
  height: 450;
  background-color: #ffffff;
}

.list_container {
  z-index: 100;
  border-radius: 20;
  width: 250;
  border-left: 1 solid #efeff4;
  border-bottom: 1 solid #efeff4;
  border-right: 1 solid #efeff4;
  /* padding-bottom: 10;*/
}

.option_text {
  color: #434343;
}

.set_button {
  background-color: #6767fa;
   color: #ffffff;
  width: 200;
  border-radius: 5;
  margin: 10 0;
}

.button_text {
  color: #ffffff;
}
.choose_text {
  font-size: 35;
}

.option_container {
  padding: 0 20;
}

.option_item {
  border-bottom: 1 solid #efeff4;
}

.button_text,
.option_item {
  padding: 10 0;
}

.choosing_option_item {
  background-color: rgb(207, 208, 209);
}

.current {
  color: #f6b37f;
  font-size: 20;
}

.grid_width {
  width: 100;
}
.grid_height {
  height: 80;
}
.grid_today {
  width: 200;
}
.first_column {
  background-color: #efeff4;
}
.week_text {
  font-size: 20;
  color: #434343;
}
.week_row {
  width: 900;
  height: 80;
  display: flex;
  flex-direction: row;
}
.grid {
  border-bottom: 1 solid #efeff4;
  border-right: 1 solid #efeff4;
  height: 100;
}

.table {
  width: 900;
  height: 1200;
  background-color: #ffffff;
  position: absolute;
  top: 90;
}
.column {
  display: flex;
  flex-direction: column;
  background-color: #efeff4;
}
.order_grid {
  border-bottom: 1 solid #434343;
}
.order_lesson {
  width: 900;
  display: flex;
  flex-direction: row;
  height: 1400;
}
.lesson_table {
  height: 1200;
  /* background-color: #434343; */
}